/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

@import 'src/style/helpers/theme';
@import 'src/style/helpers/spacing';
@import 'src/style/helpers/conversion';
@import 'src/style/helpers/specs';

$light: (
  divider: light-theme(primary-divider),
);

$dark: (
  divider: dark-theme(primary-divider),
);

.divider-h,
.divider-v,
.divider-l,
.divider-r {
  position: relative;

  @include theme() {
    background-color: theme-style(divider);
  }
}

.divider-h {
  @include margin-block(to-px($spacing-value * 2));

  width: 100%;
  height: 1px;
  display: block;
}

.divider-v {
  @include margin-inline($gutter);

  width: 1px;
  height: 20px;
  display: block;
}

.divider-l {
  @include margin-inline($gutter, 0);
  
  width: 1px;
  height: 20px;
  display: block;
}

.divider-r {
  @include margin-inline(0, $gutter);
  
  width: 1px;
  height: 20px;
  display: block;
}

.divider-s {
  @include margin-inline(to-px($gutter-value / 2));

  width: 1px;
  height: 20px;
  display: block;
}