/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

@import 'src/style/helpers/spacing';

figure {
  &.image {
    position: relative;
    display: block;
    overflow: hidden;

    > img {
      position: relative;
      width: 100%;
      display: block;
    }

    &.is-16x16 {
      > img {
        width: 16px;
        height: 16px;
      }
    }

    &.is-24x24 {
      > img {
        width: 24px;
        height: 24px;
      }
    }

    &.is-32x32 {
      > img {
        width: 32px;
        height: 32px;
      }
    }

    &.is-48x48 {
      > img {
        width: 48px;
        height: 48px;
      }
    }

    &.is-64x64 {
      > img {
        width: 64px;
        height: 64px;
      }
    }

    &.is-96x96 {
      > img {
        width: 96px;
        height: 96px;
      }
    }

    &.is-128x128 {
      > img {
        width: 128px;
        height: 128px;
      }
    }

    &.is-small {
      @include padding-inline();
      
      > img {
        width: 32px;
        height: 32px;
      }
    }

    &.is-normal {
      @include padding-block();
      @include padding-inline();
      
      > img {
        width: 40px;
        height: 40px;
      }
    }

    &.is-medium {
      @include padding-block();
      @include padding-inline();
      
      > img {
        width: 48px;
        height: 48px;
      }
    }

    &.is-large {
      @include padding-block();
      @include padding-inline();
      
      > img {
        width: 56px;
        height: 56px;
      }
    }
  }  
}
