/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

@import 'src/style/helpers/theme';
@import 'src/style/helpers/spacing';
@import 'src/style/helpers/specs';

$light: (
  dropdown-background: light-theme(primary-background),

  button: light-theme(primary-button),
  button-hover: light-theme(primary-button-hover),
  button-active: light-theme(primary-button-active),
  button-background: light-theme(primary-button-background),
  button-background-hover: light-theme(primary-button-background-hover),
  button-background-active: light-theme(primary-button-background-active),
  button-border: light-theme(primary-button-border),
  button-border-hover: light-theme(primary-button-border-hover),
  button-border-active: light-theme(primary-button-border-active),

  list-background: light-theme(primary-background),
  list-background-hover: light-theme(primary-background-hover),
  list-background-active: light-theme(primary-background-active),
  list-border: light-theme(primary-border),
  list-border-hover: light-theme(primary-border-hover),
  list-border-active: light-theme(primary-border-active),
  list-icon: light-theme(primary-icon),
  list-icon-hover: light-theme(primary-icon-hover),
  list-icon-active: light-theme(primary-icon-active),
  list-arrow: light-theme(primary-arrow),
  list-arrow-hover: light-theme(primary-arrow-hover),
  list-arrow-active: light-theme(primary-arrow-active),
  list-label: light-theme(primary-label),
  list-label-hover: light-theme(primary-label-hover),
  list-label-active: light-theme(primary-label-active),
);

$dark: (
  dropdown-background: light-theme(primary-background),

  button: light-theme(primary-button),
  button-hover: light-theme(primary-button-hover),
  button-active: light-theme(primary-button-active),
  button-background: light-theme(primary-button-background),
  button-background-hover: light-theme(primary-button-background-hover),
  button-background-active: light-theme(primary-button-background-active),
  button-border: light-theme(primary-button-border),
  button-border-hover: light-theme(primary-button-border-hover),
  button-border-active: light-theme(primary-button-border-active),

  list-background: light-theme(primary-background),
  list-background-hover: light-theme(primary-background-hover),
  list-background-active: light-theme(primary-background-active),
  list-border: light-theme(primary-border),
  list-border-hover: light-theme(primary-border-hover),
  list-border-active: light-theme(primary-border-active),
  list-icon: light-theme(primary-icon),
  list-icon-hover: light-theme(primary-icon-hover),
  list-icon-active: light-theme(primary-icon-active),
  list-arrow: light-theme(primary-arrow),
  list-arrow-hover: light-theme(primary-arrow-hover),
  list-arrow-active: light-theme(primary-arrow-active),
  list-label: light-theme(primary-label),
  list-label-hover: light-theme(primary-label-hover),
  list-label-active: light-theme(primary-label-active),
);

$dropdown-content-block-value: $spacing-value * 2;
$dropdown-content-block: to-px($dropdown-content-block-value);
$dropdown-content-inline-value: 0;
$dropdown-content-inline: to-px($dropdown-content-inline-value);

%dropdown {
  position: relative;
}

%dropdown-trigger {
  cursor: pointer;

  > .button,
  > .flat-button,
  > .raised-button,
  > .fab-button,
  > .icon-button {
    @include theme() {
      color: theme-style(button);
      background-color: theme-style(button-background);
      border-color: theme-style(button-border);
    }
  }

  &:hover {
    > .button,
    > .flat-button,
    > .raised-button,
    > .fab-button,
    > .icon-button {
      @include theme() {
        color: theme-style(button-hover);
        background-color: theme-style(button-background-hover);
        border-color: theme-style(button-border-hover);
      }
    }
  }

  &.is-active {
    > .button,
    > .flat-button,
    > .raised-button,
    > .fab-button,
    > .icon-button {
      @include theme() {
        color: theme-style(button-active);
        background-color: theme-style(button-background-active);
        border-color: theme-style(button-border-active);
      }
    }
  }
}

%dropdown-content {
  @extend %elevation-5;

  @include padding-block($dropdown-content-block);
  @include padding-inline($dropdown-content-inline);

  @include theme() {
    background-color: theme-style(dropdown-background);
  }

  position: absolute;
  display: inline-flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;

  border-radius: $border-radius;
  
  z-index: 1000;

  display: none;
  visibility: hidden;
}

%dropdown-list-link {
  @include theme() {
    background-color: theme-style(list-background);
    border-color: theme-style(list-border);
  }

  &:hover {
    @include theme() {
      background-color: theme-style(list-background-hover);
      border-color: theme-style(list-border-hover);
    } 

    > %dropdown-list-icon {
      @include theme() {
        color: theme-style(list-icon-active);
        background-color: theme-style(list-icon-background-hover);
        border-color: theme-style(list-icon-border-hover);
      } 
    }
  
    > %dropdown-list-label {
      @include theme() {
        color: theme-style(list-label-hover);
        background-color: theme-style(list-label-background-hover);
        border-color: theme-style(list-label-border-hover);
      } 
    }
  
    > %dropdown-list-arrow {
      @include theme() {
        color: theme-style(list-arrow-hover);
        background-color: theme-style(list-arrow-background-hover);
        border-color: theme-style(list-arrow-border-hover);
      } 
    }
  }

  &.is-active {
    @include theme() {
      background-color: theme-style(list-background-active);
      border-color: theme-style(list-border-active);
    }

    > %dropdown-list-icon {
      @include theme() {
        color: theme-style(list-icon-active);
        background-color: theme-style(list-icon-background-active);
        border-color: theme-style(list-icon-border-active);
      } 
    }
  
    > %dropdown-list-label {
      @include theme() {
        color: theme-style(list-label-active);
        background-color: theme-style(list-label-background-active);
        border-color: theme-style(list-label-border-active);
      } 
    }
  
    > %dropdown-list-arrow {
      @include theme() {
        color: theme-style(list-arrow-active);
        background-color: theme-style(list-arrow-background-active);
        border-color: theme-style(list-arrow-border-active);
      } 
    }
  }
}

%dropdown-list-icon {
  @include theme() {
    color: theme-style(list-icon);
    background-color: theme-style(list-icon-background);
    border-color: theme-style(list-icon-border);
  }

  @include theme() {
    color: theme-style(list-icon-active);
    background-color: theme-style(list-icon-background-active);
    border-color: theme-style(list-icon-border-active);
  } 
}

%dropdown-list-label {
  @include theme() {
    color: theme-style(list-label);
    background-color: theme-style(list-label-background);
    border-color: theme-style(list-label-border);
  }
}

%dropdown-list-arrow {
  @include theme() {
    color: theme-style(list-arrow);
    background-color: theme-style(list-arrow-background);
    border-color: theme-style(list-arrow-border);
  }
}

.dropdown {
  @extend %dropdown !optional;
  
  > .trigger {
    @extend %dropdown-trigger !optional;
  }

  > .content {
    @extend %dropdown-content !optional;

    /// look at list.scss for base definitions
    > .list {
      > .list-items {
        > .list-item {
          > .title { 
            > .link {
              @extend %dropdown-list-link !optional;
              
              > .icon {
                @extend %dropdown-list-icon !optional;
              }
  
              > .label {
                @extend %dropdown-list-label !optional;
              }
  
              > .arrow {
                @extend %dropdown-list-arrow !optional;
              }
            }
          }

          > .link {
            @extend %dropdown-list-link !optional;
            
            > .icon {
              @extend %dropdown-list-icon !optional;
            }

            > .label {
              @extend %dropdown-list-label !optional;
            }

            > .arrow {
              @extend %dropdown-list-arrow !optional;
            }
          }
        }
      }
    }
  }

  &.is-active {
    > .content {
      position: absolute;
      display: flex;
      flex-flow: column;
      visibility: visible;
    }
  }

  &,
  &.is-right {
    > .content {
      left: inherit;
      right: 0;
    }
  }

  &.is-left {
    > .content {
      left: 0;
      right: inherit;
    }
  }

  &.is-center {
    > .content {
      @include margin-inline(auto);
      
      left: inherit;
      right: inherit;
    }
  }
  
  &,
  &.is-bottom {
    > .content {
      top: 100%;
      bottom: inherit;
    }
  }
    
  &.is-top {
    > .content {
      top: inherit;
      bottom: 100%;
    }
  }
}
