/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

@import 'src/style/helpers/theme';
@import 'src/style/helpers/spacing';
@import 'src/style/helpers/conversion';
@import 'src/style/helpers/animation';
@import 'src/style/helpers/specs';

$light: (
  list-link-background: light-theme(primary-background),
  list-link-background-hover: light-theme(primary-background-hover),
  list-link-background-active: light-theme(primary-background-active),
  list-link-border: light-theme(primary-border),
  list-link-border-hover: light-theme(primary-border-hover),
  list-link-border-active: light-theme(primary-border-active),
  list-link-icon: light-theme(primary-icon),
  list-link-icon-hover: light-theme(primary-icon-hover),
  list-link-icon-active: light-theme(primary-icon-active),
  list-link-arrow: light-theme(primary-arrow),
  list-link-arrow-hover: light-theme(primary-arrow-hover),
  list-link-arrow-active: light-theme(primary-arrow-active),
  list-link-label: light-theme(primary-label),
  list-link-label-hover: light-theme(primary-label-hover),
  list-link-label-active: light-theme(primary-label-active),
);

$dark: (
  list-link-background: dark-theme(primary-background),
  list-link-background-hover: dark-theme(primary-background-hover),
  list-link-background-active: dark-theme(primary-background-active),
  list-link-border: dark-theme(primary-border),
  list-link-border-hover: dark-theme(primary-border-hover),
  list-link-border-active: dark-theme(primary-border-active),
  list-link-icon: dark-theme(primary-icon),
  list-link-icon-hover: dark-theme(primary-icon-hover),
  list-link-icon-active: dark-theme(primary-icon-active),
  list-link-arrow: dark-theme(primary-arrow),
  list-link-arrow-hover: dark-theme(primary-arrow-hover),
  list-link-arrow-active: dark-theme(primary-arrow-active),
  list-link-label: dark-theme(primary-label),
  list-link-label-hover: dark-theme(primary-label-hover),
  list-link-label-active: dark-theme(primary-label-active),
);

%list {
  @include margin-block();
  @include margin-inline();
  @include padding-block();
  @include padding-inline();

  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex: 0;

  background-color: inherit;
}

%list-items {
  @include margin-block();
  @include margin-inline();
  @include padding-block();
  @include padding-inline();
  
  width: 100%;
  list-style: none;
}

%list-item {
  @include padding-block($list-spacing-block);
  @include padding-inline($list-spacing-inline);

  position: relative;
}

%list-divider {
  @include padding-block($list-divider-spacing-block);
  @include padding-inline($list-divider-spacing-inline);

  position: relative;
}

%list-title {
  @extend %row;
  @extend %row-start;
}

%list-link {
  @extend %row;
  @extend %row-start;

  @include padding-block($list-link-spacing-block);
  @include padding-inline($list-link-spacing-inline);

  text-decoration: none;
  cursor: pointer;

  border-width: 0;
  border-style: solid;
  border-radius: $border-radius;

  transition: background-color $transition-duration $transition-timing-function,
              border-color $transition-duration $transition-timing-function,
              color $transition-duration $transition-timing-function;

  @include theme() {
    background-color: theme-style(list-background);
    border-color: theme-style(list-border);
  }

  &:hover {
    @include theme() {
      background-color: theme-style(list-background-hover);
      border-color: theme-style(list-border-hover);
    } 

    > %list-icon {
      @include theme() {
        color: theme-style(list-icon-active);
        background-color: theme-style(list-icon-background-hover);
        border-color: theme-style(list-icon-border-hover);
      } 
    }
  
    > %list-label {
      @include theme() {
        color: theme-style(list-label-hover);
        background-color: theme-style(list-label-background-hover);
        border-color: theme-style(list-label-border-hover);
      } 
    }
  
    > %list-arrow {
      @include theme() {
        color: theme-style(list-arrow-hover);
        background-color: theme-style(list-arrow-background-hover);
        border-color: theme-style(list-arrow-border-hover);
      } 
    }
  }

  &.is-active {
    @include theme() {
      background-color: theme-style(list-background-active);
      border-color: theme-style(list-border-active);
    }

    > %list-icon {
      @include theme() {
        color: theme-style(list-icon-active);
        background-color: theme-style(list-icon-background-active);
        border-color: theme-style(list-icon-border-active);
      } 
    }
  
    > %list-label {
      @include theme() {
        color: theme-style(list-label-active);
        background-color: theme-style(list-label-background-active);
        border-color: theme-style(list-label-border-active);
      } 
    }
  
    > %list-arrow {
      @include theme() {
        color: theme-style(list-arrow-active);
        background-color: theme-style(list-arrow-background-active);
        border-color: theme-style(list-arrow-border-active);
      } 
    }
  }
}

%list-icon {
  @extend %column;

  @include margin-inline($list-icon-spacing-inline);

  position: relative;

  width: $list-icon-width;
  height: $list-icon-height;

  border-radius: 50%;
  
  @include theme() {
    color: theme-style(list-icon);
    background-color: theme-style(list-icon-background);
    border-color: theme-style(list-icon-border);
  }

  + %list-label {
    @include padding-inline(0, $list-label-spacing-inline);  
  }
}

%list-label {
  @include padding-block($list-label-spacing-block);
  @include padding-inline($list-label-spacing-inline);

  position: relative;
  display: flex;
  flex: 1;
  white-space: nowrap;

  @include theme() {
    color: theme-style(list-label);
    background-color: theme-style(list-label-background);
    border-color: theme-style(list-label-border);
  }
}

%list-arrow {
  @extend %column;

  @include margin-inline($list-arrow-spacing-inline);

  position: relative;
  
  @include theme() {
    color: theme-style(list-arrow);
    background-color: theme-style(list-arrow-background);
    border-color: theme-style(list-arrow-border);
  }
}

.list {
  @extend %list;
  
  > .list-items {
    @extend %list-items;
    
    > li {
      &.divider {
        @extend %list-divider;
      }
      
      &.list-item {
        @extend %list-item;

        > .title {
          @extend %list-title;
        
          > .link {
            @extend %list-link;
            
            > .icon {
              @extend %list-icon;
            }

            > .label {
              @extend %list-label;
            }

            > .arrow {
              @extend %list-arrow;
            }
          }
        }

        > .link {
          @extend %list-link;
          
          > .icon {
            @extend %list-icon;
          }

          > .label {
            @extend %list-label;
          }

          > .arrow {
            @extend %list-arrow;
          }
        }
      }
    }
  }
}