/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

.navbar {
  @extend %row;

  .navbar-item {
    @extend %column;
  }

  > .navbar-start {
    @extend %row-start;
  }

  > .navbar-center {
    @extend %row-center;
  }

  > .navbar-end {
    @extend %row-end;
  }

  > .navbar-start,
  > .navbar-center,
  > .navbar-end {
    flex: 0;

    &.grow {
      flex: 1;
    }
  }

  &.is-centered {
    > .navbar-start,
    > .navbar-center,
    > .navbar-end {
      flex: 1 0 0;
    }
  }

  &.wrap {
    flex-flow: row wrap;

    > .navbar-start,
    > .navbar-center,
    > .navbar-end {
      flex-flow: row wrap;
    }
  }
}