/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

.tab-bar {
  @extend %row;

  .tab-bar-item {
    @extend %column;
  }

  > .tab-bar-start {
    @extend %row-start;
  }

  > .tab-bar-center {
    @extend %row-center;
  }

  > .tab-bar-end {
    @extend %row-end;
  }

  > .tab-bar-start,
  > .tab-bar-center,
  > .tab-bar-end {
    flex: 0;

    &.grow {
      flex: 1;
    }
  }

  &.is-centered {
    > .tab-bar-start,
    > .tab-bar-center,
    > .tab-bar-end {
      flex: 1 0 0;
    }
  }

  &.wrap {
    flex-flow: row wrap;

    > .tab-bar-start,
    > .tab-bar-center,
    > .tab-bar-end {
      flex-flow: row wrap;
    }
  }
}