/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

@import 'src/style/helpers/specs';

.toolbar {
  @extend %row;

  height: $toolbar-height;

  .toolbar-item {
    @extend %column;
    flex: 0;
  }

  > .toolbar-start {
    @extend %row-start;
  }

  > .toolbar-center {
    @extend %row-center;
  }

  > .toolbar-end {
    @extend %row-end;
  }

  > .toolbar-start,
  > .toolbar-center,
  > .toolbar-end {
    flex: 0;

    &.grow {
      flex: 1;
    }
  }

  &.is-centered {
    > .toolbar-start,
    > .toolbar-center,
    > .toolbar-end {
      flex: 1 0 0;
    }
  }

  &.wrap {
    flex-flow: row wrap;

    > .toolbar-start,
    > .toolbar-center,
    > .toolbar-end {
      flex-flow: row wrap;
    }
  }
}