/// Copyright © 2020, CosmicMind, Inc. <http://cosmicmind.com>. All rights reserved.

@import 'src/style/helpers/spacing';
@import 'src/style/helpers/responsive';

%layout {
  @include margin-block();
  @include margin-inline();
  @include padding-block();
  @include padding-inline();

  position: relative;
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.layout {
  @extend %layout; 

  .is-full {
    width: 100%;
  }

  .is-narrow {
    width: 100%;
    max-width: 768px;
  }

  .is-full,
  .is-elastic,
  .is-narrow {
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: visible;
  }
}

@include is-mobile() {
  .layout {
    .is-elastic {
      @include padding-inline(to-px($spacing-value * 3));

      width: 100%;
    }
  }
}

@include is-tablet() {
  .layout {
    .is-elastic {
      @include padding-inline(to-px($spacing-value * 3));

      width: 100%;
    }
  }
}

@include is-desktop() {
  .layout {
    .is-elastic {
      @include padding-inline(to-px($spacing-value * 9));

      width: 100%;
      max-width: 1216px;
    }
  }
}

@include is-widescreen() {
  .layout {
    .is-elastic {
      @include padding-inline(to-px($spacing-value * 9));

      width: 100%;
      max-width: 1216px;
    }
  }
}

@include is-fullhd() {
  .layout {
    .is-elastic {
      @include padding-inline(to-px($spacing-value * 9));
      
      width: 100%;
      max-width: 1216px;
    }
  }
}

%center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

%row {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
}

%row-start,
%row-center,
%row-end {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

%row-start {
  justify-content: flex-start;
}

%row-center {
  justify-content: center;
}

%row-end {
  justify-content: flex-end;
}

%column {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1;
}

%column + %column,
%column:first-child + %column:last-child,
%column:first-child:not(:last-child),
%column:last-child:not(:first-child),
%column:first-child:last-child {
  @include padding-inline();
}

%content {
  position: relative;
  width: 100%;
  display: block;
}

.row {
  @extend %row;

  .column {
    @extend %column;

    > .content {
      @extend %content;
    }
  }

  > .row-start {
    @extend %row-start;
  }

  > .row-center {
    @extend %row-center;
  }

  > .row-end {
    @extend %row-end;
  }

  > .row-start,
  > .row-center,
  > .row-end {
    flex: 0;

    &.grow {
      flex: 1;
    }
  }

  &.is-centered {
    > .row-start,
    > .row-center,
    > .row-end {
      flex: 1 0 0;
    }
  }

  &.wrap {
    flex-flow: row wrap;

    > .row-start,
    > .row-center,
    > .row-end {
      flex-flow: row wrap;
    }
  }
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.grow {
  flex: 1;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.size-1 {
  flex: 1;
}

.size-2 {
  flex: 2;
}

.size-3 {
  flex: 3;
}

.size-4 {
  flex: 4;
}

.size-5 {
  flex: 5;
}

.size-6 {
  flex: 6;
}

.size-7 {
  flex: 7;
}

.size-8 {
  flex: 8;
}

.size-9 {
  flex: 9;
}

.size-10 {
  flex: 10;
}

.size-11 {
  flex: 11;
}

.size-12 {
  flex: 12;
}